<main id="Container">
<section id="mainImg">
    <h2 class="hidden">Main Image</h2>
    <div class="mainInfo">
            <div class="mainText"><h1>I'M <br> HARWINDER <br> DAHELE</h1>
            <h3 class="u-description">DESIGNER AND WEB DEVELOPER</h3></div>
            <img src="images/harwinder.png" alt="logo" class="myImg">
    </div>
</section>
    <section id="about" class="panel">
        <h2 class="heading">A LITTLE ABOUT ME</h2>
        <p class="bio">The things I like most to do in my regular basis is that
        I prefer to make new design regarding different things 
        which are based  on new  technology.I also 
        love to cook diferent dishes as depends on 
        new taste which gives me great experience 
        about new tasted food. And I like to photoshoot, 
        wherever I visit new sports I try to capture 
        those moments.</p>
    </section>
    <section id="interest">
        <h2 class="interest">INTEREST</h2>
        <div class="allIcons">
        <div class="designIdea">
            <img src="images/design.png" alt="design" class="icon">
            <h2 class="designHead">DESIGN</h2>
            <p class="designDec">I prefer to make unique design which makes my skills advance.</p>
        </div>
        <div class="editIdea">
            <img src="images/editing.png" alt="video editing" class="icon">
            <h2 class="videoHead">VIDEO EDITING</h2>
            <p class="videoDec">I like to edit videos on new ideas by using cinema 4D and after effects.</p>
        </div>
        <div class="codeIdea">
            <img src="images/coding.png" alt="code" class="icon">
            <h2 class="codeHead">CODE</h2>
            <p class="codeDec">I like to do code for making different type of animation on web page.</p>
        </div>
        </div>
    </section>

    <section id="myWork">
        <h2 class="workHead">MY RECENT PROJECTS</h2>
        <div class="projectImg">
        {{#each people}}
        <img src="images/{{image}}" alt="image" class="u-image">
            <p class="introText"></p>
        {{/each}}
        </div>
    </section>

    <section id="reel">
        <h2 class="reel">SHOWREEL</h2>
        <div class="videoInfo">
        <p class="reelDec">This is my show reel which shows my recent works which I have done. This video has made by using after effects and cinema 4D. </p>
        <video class="video" src="video/video.mp4" controls></video>
        </div>
    </section>
    <section id="contact">
        <h2 class="contactHead">CONTACT</h2>
        <div class="map">
        <div class="form">
        <div ><label for="name">NAME:</label>
        <input type="text" class="name" placeholder="Your Name.."><br></div>
        <div><label for="email">EMAIL:</label>
        <input type="text" class="email" placeholder="Your Email.."><br></div>
        <div><label for="subject">SUBJECT:</label>
        <input type="text" class="subject" placeholder="Subject"><br></div>
        <div><label for="message">MESSAGE:</label>
        <textarea name="message" class="message" placeholder="Type Your Message..."></textarea><br></div>
        </div>
        <iframe class="googleMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2918.7516970610795!2d-81.25309404958107!3d42.983503903392396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882ef3779e9706c1%3A0x6b0cea8bf906455!2sFanshawe%20Downtown%20Campus!5e0!3m2!1sen!2sca!4v1576639059147!5m2!1sen!2sca" width="350" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <button class="submit">SUBMIT</button>
    </section>
        <div class="socialIcon">
        <img src="images/facebook.png" alt="Facebook" class="social">
        <img src="images/instagram.png" alt="Instagram" class="social">
        <img src="images/youtube.png" alt="Youtube" class="social">
        </div>
    <footer id="allRights">All Rights Reseved@2019 by Harwinder</footer>
    <section class="lightbox">
        <span class="close">x</span>
        <div class="sidebar">
            <img src="" alt="larger bio image">
        </div>
        <div class="lb-content">
        </div>
    </section>
</section>
</main>
